
<nav class="navbar" style="margin-bottom: 30px">
  <div class="nav-links">
    <a href="{% url 'tournaments:manage_tournament_battles' tournament_id=tournament_id %}">⚔️Сражения</a>
    <a href="{% url 'tournaments:manage_tournament_teams' tournament_id=tournament_id %}">🤝Команды</a>
    <a href="{% url 'tournaments:manage_tournament_requests' tournament_id=tournament_id status_filter='all' %}">✉️Заявки на участие</a>
    <a href="{% url 'tournaments:manage_tournament_judges' tournament_id=tournament_id %}">👨‍⚖️Судьи</a>
    <a href="{% url 'tournaments:tournament_news' tournament_id=tournament_id %}">📰Новости</a>
  </div>
</nav>
