{% extends "includes/base.html" %}
{% block title %}Создание турнира{% endblock %}

{% block content %}
<div class="card-container">
<a href="{% url 'teams:create_team' %}">
    <button class="card-button w-100" align="right">
        Создать команду
    </button>
<a>
{% if created_teams_by_user %}
  <h1 align="center">Все команды, где вы <font color="#c84747">ЛИДЕР</font></h1>
{% endif %}
{% for team in created_teams_by_user %}
<div class="card-inner-container">
    <h2 class="card-header">
        {{ team.name }}
    </h2>
    <a href="{% url 'teams:manage_team' team_id=team.id %}">
        <button class="card-button w-100" align="right">
            Подробнее
        </button>
    <a>
</div>
{% empty%}
<div class="card-container">
  <h1 align="center">Нет команд, где вы <font color="#c84747">ЛИДЕР</font></h1>
</div>
{% endfor %}
</div>

{% endblock %}