{% extends "includes/base.html" %}
{% block title %}Управление командой{% endblock %}

{% block content %}

<div class="card-container">
    <h1 align="center">Участники <font color="#cc4848">{{ team.name }}</font></h1>
    <div class="card-inner-container">
        {% for member in members %}
            <h3 class="card-header">
                <span class="header-username"><a class="card-link" href="{% url 'users:profile' user_id=member.user.id %}"><font color="white">{{ member.user.username }}</font></a></span>
                <span class="header-status">{{ member.role }}</span>
            </h3>
        {% endfor %}
    </div>
</div>
{% endblock %}