{% extends "includes/base.html" %} {% block title %}Создание новости 
{% endblock %} {% block content %} {% load markdown_filters %}
<style>
  table {
    border-collapse: collapse; /* Слияние границ ячеек */
    width: 100%; /* Таблица будет занимать всю ширину */
  }

  table,
  th,
  td {
    border: 2px solid #cc4848; /* Цвет и толщина обводки для таблицы и ячеек */
  }

  th,
  td {
    padding: 8px; /* Отступы внутри ячеек */
  }
</style>
{% if request.user.is_superuser %}
<div class="card-container">
  <a href="{% url 'tournaments:create_tournament' %}">
  <button class="card-button w-100">Создать турнир</button>
  </a>
</div>
{% endif %}

{% for tournament in tournaments %}
<div
  class="card-container container mt-5"
  style="color: white; border: 2px solid #cc4848; padding: 20px; margin: 70px"
>
  
  <div class="card-header">
    <span align="left">{{ tournament.owner }}</span>
    <span class="date" align="right">{{ tournament.created_at }}</span>
  </div>
  <div class="no-tf2-font">
    <h1>{{ tournament.title }}</h1>
    <hr class="card-hr">
    <div class="spoiler">
        <button class="spoiler-toggle">Описание</button>
        <div class="spoiler-content">
            <p>{{ tournament.description | markdown | safe }}</p>
        </div>
    </div>
    <div class="spoiler">
        <button class="spoiler-toggle">Правила</button>
        <div class="spoiler-content">
            <p>{{ tournament.rules | markdown | safe }}</p>
        </div>
    </div>
  </div>
  {% if not tournament.is_closed_for_requests %}
    <div class="card-footer">
      <a class="w-100" href="{% url 'tournaments:send_request_team_tournament' tournament_id=tournament.id %}">
        <button class="card-button w-100">
            Подать заявку
        </button>
      </a>
    </div>
  {% endif %}
  <a href="{% url 'tournaments:manage_tournament_battles' tournament_id=tournament.id %}">
    <button class="card-button-inverted w-100">
      Подробнее
    </button>
  </a>
</div>
{% empty %}
<div class="card-container container mt-5">
  <h1 align="center">Нет турниров</h1>
</div>

{% endfor %}
<!-- Start Pagination -->
<div class="pagination-container">
  <ul class="pagination">
    <li><a href="#0">&lt;</a></li>
    <li><a class="active" href="#0">1</a></li>
    <li><a href="#0">2</a></li>
    <li><a href="#0">3</a></li>
    <li><a href="#0">4</a></li>
    <li><a href="#0">&gt;</a></li>
  </ul>
</div>
<!-- End Pagination -->
{% endblock %}