{% extends "includes/base.html" %} {% block title %}Создание новости 
{% endblock %} {% block content %} {% load markdown_filters %}
<div class="card-container">
    {% include "includes/tabs_manage_tournament.html" %}
    <h1>Команды</h1>
    <hr class="card-hr">
    {% for team in teams %}
        <h2 class="card-header">
                {% comment %} <span class="header-username"><a class="card-link" href="{% url 'users:profile' user_id=judge.id %}">{{ team.name }}</a></span> {% endcomment %}
                <span class="header-username"><a class="card-link" href="#">{{ team.name }}</a></span>
                {% comment %} <a href="{% url 'tournaments:remove_judge' user_id=judge.id tournament_id=tournament_id %}"> {% endcomment %}
                <a href="#">
                    <button class="card-button w-100 accept_button" align="right">
                        Удалить
                    </button>
                </a>
            </h2>
    {% endfor %}
<div>
{% endblock %}