{% extends "includes/base.html" %} {% block title %}Создание новости 
{% endblock %} {% block content %} {% load markdown_filters %}
<div class="card-container">
    {% include "includes/tabs_manage_tournament.html" with tournament_id=tournament_id %}
    <a href="{% url 'tournaments:create_battle' tournament_id=tournament_id %}">
        <button class="card-button w-100">
            Назначить сражение
        </button>
    </a>
    <div class="card-table-container">
        <table class="card-table">
            <thead>
            <tr>
                <th>Дата и время</th>
                <th>Первая команда</th>
                <th>Вторая команда</th>
                <th>Судья</th>
                <th>Статус</th>
                {% if is_owner_tournament %}
                <th></th>
                <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for battle in battles %}
                    <tr>
                        <td>{{ battle.start_datetime }}</td>
                        <td>
                            <a class="card-link" href="{% url 'teams:show_team' team_id=battle.first_team.id %}">
                                {{ battle.first_team }}
                            </a>
                        </td>
                        <td>
                            <a class="card-link" href="{% url 'teams:show_team' team_id=battle.second_team.id %}">
                                    {{ battle.second_team }}
                            </a>
                        </td>
                        <td>
                            <a class="card-link" href="{% url 'users:profile' user_id=battle.judge.id %}">
                                {{ battle.judge }}
                            </a>
                        </td>
                        <td>{{ battle.get_status_display }}</td>
                        {% if is_owner_tournament %}
                        <td>
                            <a href="{% url 'tournaments:edit_battle' tournament_id=tournament_id battle_id=battle.id %}">
                                <button class="card-button w-100">
                                    Редактировать
                                </button>
                            </a>
                        </td>
                        <td>
                            <form method="POST" action="{% url 'tournaments:delete_battle' tournament_id=tournament_id battle_id=battle.id %}">
                                {% csrf_token %}
                                <button class="card-button w-100">
                                    Удалить
                                </button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
<div>
{% endblock %}